USE [master]
GO
/****** Object:  Database [GlitterChatter]    Script Date: 11/30/2017 8:09:07 PM ******/
CREATE DATABASE [GlitterChatter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GlitterChatter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\GlitterChatter.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GlitterChatter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\GlitterChatter_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GlitterChatter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GlitterChatter]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 11/30/2017 8:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
	[Message] [nvarchar](140) NOT NULL,
	[DateTimeStamp] [datetime] NOT NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Chat] ADD  CONSTRAINT [DF_Chat_DateTimeStamp]  DEFAULT (getdate()) FOR [DateTimeStamp]
GO
USE [master]
GO
